{% if (post is null) %}
    Nie ma takiego postu
{% else %}
    ID: {{ post.id }}<br>
    Title: {{ post.title }}<br>
    Text: {{ post.postText }}<br>
    Rating: {{ post.rating }}<br>
    Autor:
    {% if post.user is null %}
        nieznany
    {% else %}
        {{ post.user.username }}
        {% for post in post.user.posts %}
            <li>{{ post.title }}</li>
        {% endfor %}
        <h3>Tagi do postu:</h3>
        {% for tag in post.tags %}
            <li>{{ tag.tagText }}</li>
        {% endfor %}
    {% endif %}
    <hr>
{% endif %}
